{% extends 'base.html' %}

{% block title %}- Photo Album{% endblock title %}

{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container" >
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5">
                <h1 class="gallery-title">Photo Album</h1>
            </div>
            {% for photo in gallery reversed %}
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"><a href="">
                <img class="mb-3" src="{{photo.image.url}}" width="200" height="200">
                <div align="center">
                    <button class="btn btn-default filter-button"><a href="{{ photo.image.url }}">Details</a></button>
                    <button class="btn btn-default filter-button"><a href="{% url 'confirm_delete' photo.pk %}">Delete</a></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </form>
{% endblock %}