{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>Template back-end test</title>
</head>
<body>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {% for photo in gallery reversed %}
            <img src="{{photo.image.url}}" width="200" height="200">
            <button><a href="{{ photo.image.url }}">Details</a></button>
            <button><a href="{% url 'confirm_delete' photo.pk %}">Delete</a></button>
        {% endfor %}
    </form>

</body>
</html>